.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link_container {
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
}

.link_active {
  background-color: var(--text);
  color: var(--bg);
}

.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menu_button {
  display: none;
}

.mobile_links {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .menu_button {
    display: block;
    cursor: pointer;
  }
  .mobile_links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
